<div class="row" ng-init="updateMenu()">

    <form name="Loginform" >
        <!--{{flogin}}-->
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
            <div flex-item="8">
                <div class="card" >
                    <div class="p+"><!--{{progressBar}}-->

                        <strong class="fs-headline display-block">Acceda a su Cuenta...</strong>
                        <lx-progress lx-type="linear" lx-color="teal" ng-if="progressBar"></lx-progress>
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field lx-label="Email"
                                           lx-valid="Loginform.username.$valid"
                                           lx-error="Loginform.username.$invalid && Loginform.username.$touched">

                                            <input type="email" name="username" ng-model="flogin.username"
                                               ng-required="true" />
                                        </lx-text-field>
                                        <div ng-messages="Loginform.username.$error"
                                             ng-if="Loginform.username.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">You did not enter a field Name</div>
                                            <div ng-message="email">You did not enter a valid Email</div>
                                        </div>

                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field lx-label="Contraseña"
                                                       lx-valid="Loginform.password.$valid"
                                                       lx-error="Loginform.password.$invalid && Loginform.password.$touched">
                                            <input type="password" name="password" ng-model="flogin.password"
                                                   ng-required="true" />
                                        </lx-text-field>
                                        <div ng-messages="Loginform.password.$error"
                                             ng-if="Loginform.password.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">You did not enter a field Name</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card__actions">
                        <div class="p+">

                            <div style="position: relative;">
                                <lx-progress lx-type="linear" lx-color="teal"
                                             ng-if="LinearProgress">
                                </lx-progress>
                            </div>
                            <lx-button lx-color="blue"
                                       ng-click="userLogin($event, flogin)"
                                       ng-disabled="sendbutton || Loginform.$invalid"
                            >ENVIAR</lx-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>