<div class="row" id="tabPrice" ng-init="updateMenu()">
        <!--{{user.user_id}}-->
        <!--{{fcart}}
    {{listMyAirCrafts}}-->
    <!--{{checkService}}-->
        <!--{{paymethod}}-->
    <form name="CartForm" novalidate>
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="">
            <!--TOOLBAR SEARCH-->
            <div flex-container="column">
                <div class="p+ pt0" flex-item="3">
                    <div class="card bgc-blue-grey-100 tc-black-1" style="min-width: 300px !important;">
                        <div flex-container="row">
                        <!--<div class="toolbar">-->
                            <span flex-item="12" class="p+ fs-subhead tc-black-1 ml" ng-if="!fcart.location">Escoja su localidad...</span>
                            <span flex-item="12" class="p+ fs-subhead tc-black-1 ml" ng-if="fcart.location">Su destino sera {{fcart.location.name}}</span>
                        <!--<div class="toolbar__right">-->
                   </div>
                        <div flex-container="row">
                            <div flex-item="12" class="p+">
                                <lx-select
                                        name="location"
                                        ng-model="fcart.location"
                                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 700, 'blur': 0 } }"
                                        lx-allow-clear="true"
                                        lx-choices="selectAjax.locationOpts"
                                        lx-display-filter="true"
                                        lx-fixed-label="true"
                                        lx-filter="searchLocation(newValue)"
                                        lx-valid="location.$valid"
                                        lx-error="location.$invalid && location.$touched"
                                        lx-loading="selectAjax.loading"
                                        ng-required="true"
                                        lx-label="Locaciones">
                                    <lx-select-selected>
                                        <img src="../css/img/flags/{{$selected.country}}.png" alt="" style="visibility: visible; float: left;" width="25px" /> {{ $selected.name }}
                                    </lx-select-selected>

                                    <lx-select-choices>
                                        <img src="../css/img/flags/{{$choice.country}}.png" alt="" style="visibility: visible; float: left;" width="25px" /> {{ $choice.name }}
                                    </lx-select-choices>
                                </lx-select>
                                <div ng-messages="location.$error"
                                     ng-if="location.$touched"
                                     style="color:maroon"
                                     role="alert">
                                    <div ng-message="required">Escoge tu Localidad</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--1{{location}}- 2{{fcart.location.name}}- 3{{fcart.location.id}}
            <div flex-container="row" ng-show="fcart.location.id">-->
            <!--<div flex-container="row" >-->
                <div class="p+ pt0" flex-item="12" ng-show="fcart.location.id">
                <div class="card bgc-blue-grey-100 tc-black-1" >

                    <div class="tc-black-1 p+" flex-container="row">
                        <div flex-item="12">
                            <span class=" fs-subhead tc-black-1 ml">Detalles del viaje</span>
                        </div>
                    </div>
                    <div class="tc-black-1 p+" flex-container="row">
                        <div flex-item="12">
                            <lx-date-picker
                                    id="{{startDatePickerId}}"
                                    ng-model="fcart.estimateArrival"
                                    lx-input-format="YYYY-MM-DD"
                                    lx-locale="es"
                                    lx-valid="CartForm.estimateArrival.$valid"
                                    lx-error="CartForm.estimateArrival.$invalid && CartForm.estimateArrival.$touched">
                                <lx-text-field lx-allow-clear="true" lx-label="Fecha de Creación">
                                    <input type="text" name="estimateArrival"
                                           ng-model="fcart.estimateArrival" ng-required="true" />
                                </lx-text-field>
                            </lx-date-picker>
                            <div ng-messages="CartForm.estimateArrival.$error"
                                 ng-if="CartForm.estimateArrival.$touched"
                                 style="color:maroon"
                                 role="alert">
                                <div ng-message="required">No Olvides de colocar la fecha estimada de salida</div>
                            </div>
                        </div>
                    </div>
                    <div class="tc-black-1 p+" flex-container="row">
                        <div flex-item="12">
                            <lx-text-field
                                    lx-label="Hora"
                                    lx-valid="CartForm.time.$valid"
                                    lx-error="CartForm.time.$invalid && CartForm.time.$touched">
                                <input type="text" name="time" ng-required="true"
                                       ng-model="fcart.time" ps-input-time/>
                            </lx-text-field>
                            <div ng-messages="CartForm.time.$error"
                                 ng-if="CartForm.time.$touched"
                                 style="color:maroon"
                                 role="alert">
                                <div ng-message="required">Introduce una Hora estimada de llegada</div>
                            </div>

                        </div>
                    </div>

                    <div class="tc-black-1 p+" flex-container="row">
                        <div flex-item="12">
                            <lx-select
                                    name="myaircraft"
                                    ng-model="fcart.myaircraft"
                                    lx-allow-clear="true"
                                    lx-choices="listMyAirCrafts"
                                    lx-fixed-label="true"
                                    lx-valid="CartForm.myaircraft.$valid"
                                    lx-error="CartForm.myaircraft.$invalid && CartForm.myaircraft.$touched"
                                    ng-required="false"
                                    lx-label="Aeronave">
                                <lx-select-selected>
                                    Nombre:{{ $selected.name }} - Modelo:{{ $selected.model }}
                                </lx-select-selected>

                                <lx-select-choices>
                                    Nombre:{{ $choice.name }} - Modelo:{{ $choice.model }}
                                </lx-select-choices>
                            </lx-select>
                            <div ng-messages="CartForm.myaircraft.$error"
                                 ng-if="CartForm.myaircraft.$touched"
                                 style="color:maroon"
                                 role="alert">
                                <div ng-message="required">Escoge Su Aeronave</div>
                            </div>
                        </div>
                     </div>
                    </div>

                    <div class="card__actions">
                        <div class="p+">
                            <div style="position: relative;">
                                <lx-progress lx-type="linear" lx-color="teal"
                                             ng-if="LinearProgress">
                                </lx-progress>
                            </div>
                            <lx-button lx-color="red"
                                       ng-click="reset()"
                            >Limpiar</lx-button>
                            <lx-button lx-color="green"
                                       ng-click="searchServices($event, fcart)"
                                       ng-disabled="sendbutton || CartForm.$invalid"
                            >Buscar Servicios</lx-button>
                        </div>
                    </div>

                </div>
            </div>
            <!--</div>-->

        <!--TOOLBAR SEARCH-->
            <!--prepareFligthList: {{ prepareFligthList }}-->


            <div flex-container="row" >
                <div class="p+ pt0" flex-item="12">

                    <form name="shopCart" novalidate >
                        <!--TOOLBAR SEARCH-->
                        <div flex-container="row" >
                            <!--<div class="p+ pt0" flex-item="12">-->
                                <div flex-item="12" class="card bgc-blue-grey-100 tc-black-1" ng-if="prepareFligthList">

                                    <div flex-container="row" >
                                        <div flex-item="6" class="p+">
                                            <lx-text-field
                                                    lx-label="Descripción de su Orden"
                                                    lx-valid="shopCart.description.$valid"
                                                    lx-error="shopCart.description.$invalid && shopCart.description.$touched">
                                                <input type="text" name="description" ng-required="true"
                                                       ng-model="fcart.description" />
                                            </lx-text-field>
                                            <div ng-messages="shopCart.description.$error"
                                                 ng-if="shopCart.description.$touched"
                                                 style="color:maroon"
                                                 role="alert">
                                                <div ng-message="required">Introduce una Descripción</div>
                                            </div>

                                        </div>
                                    <!--</div>-->

                                    <!--<div class="card__actions">-->
                                    <!--<div flex-container="row" >-->
                                        <div flex-item="6" class="p+">
                                            <div style="position: relative;">
                                                <lx-progress lx-type="circular" lx-color="teal"
                                                             ng-if="shopCartLinearProgress">
                                                </lx-progress>
                                            </div>
                                            <lx-button lx-color="red"
                                                       ng-click="reset()"
                                            >Limpiar</lx-button>
                                            <lx-button lx-color="green"
                                                       ng-click="addShopCart($event, fcart)"
                                                       ng-disabled="shopCartsendbutton || shopCart.$invalid"
                                            >Guardar</lx-button>
                                        </div>
                                    </div>
                                </div>
                            <!--</div>-->
                        </div>
                    </form>

                    <div class="data-table-container bgc-blue-grey-100 p+" ng-if="prepareFligthList">
                        <header class="data-table-header">
                            <div class="data-table-header__label">
                                <span class="fs-subhead">Servicios</span>
                            </div>
                        </header>

                        <table class="data-table fs-body-1">
                            <thead>
                            <tr class="">
                                <th> Marcar </th>
                                <th> Descripción </th>
                                <th> Unidad </th>
                                <th> Precio </th>
                                <th  >Moneda</th>
                                <th  >Cantidad</th>
                            </tr>
                            </thead>

                            <tbody ng-repeat="service in prepareFligthList" class="fs-body-1 ">
                            <tr>
                                <td>
                                    <lx-checkbox
                                            ng-model="bool"
                                            ng-change="sync(bool, service)"
                                    ></lx-checkbox>
                                </td>
                                <td> {{service.pricename}} </td>
                                <td> {{service.pricedesc}} </td>
                                <td> {{service.price}} </td>
                                <td> {{service.currency}} </td>
                                <!--</tr>
                                <tr ng-show="bool">-->
                                <td colspan="2" ng-show="bool">
                                    <div flex-item="2">
                                        <lx-text-field lx-label="Cantidad"
                                                       lx-valid="CartForm.cantidad.$valid"
                                                       lx-error="CartForm.cantidad.$invalid && CartForm.cantidad.$touched">
                                            <input type="number" name="cantidad" ng-model="itemQuantity"
                                                   ng-change="sync(false, service, itemQuantity)"
                                            >
                                        </lx-text-field>
                                        <div ng-messages="CartForm.cantidad.$error"
                                             ng-if="CartForm.cantidad.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">No Olvides de colocar la Cantidad</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!--<td >
                                <lx-icon ng-click="openDialogCaptain(service)" lx-id="lead-pencil" lx-size="m" lx-color="blue" lx-type="circled"></lx-icon>
                            </td>
                            <td >
                                <lx-icon ng-click="deleteCaptain(service)" lx-id="delete" lx-size="m" lx-color="red" lx-type="circled"></lx-icon>
                            </td>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>




            <!--PRODUCT DATATABLE
            <div class="p+ pt0">
                <div flex-container="row">
                <div ng-include="'/partials/dashboard/cart/datatableCart.html'"></div>
                </div>
            </div>
            PRODUCT DATATABLE-->


    </div>



</div>