<div class="row"  ng-init="updateMenu()">

    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
        <div flex-item="10">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">J&amp;D Oilfield</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            Bienvenido {{user.name +' '+ user.lastname}}, Su Dashboard le Permitira:
                        </p>
                    </div>
                </div>

                <!--<div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/loginpage">
                            <button class="btn btn&#45;&#45;m btn&#45;&#45;raised bgc-jd tc-white-1" lx-ripple="indigo-500">Mas info...</button>
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>

    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">

        <div flex-item="5">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">Agregar metodo de pago</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            Agrega TDC's para Adquirir J&amp;D Cards
                            y en un futuro, nuestros productos y servicios!...
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/dashboard/paymentmethod-form">
                            <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">Agrega Metodo de Pago</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div flex-item="5">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">Comprar J&amp;D Card</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            Compra ya tu Tarjeta Personalizada, para disfrutar de nuestros
                            Fuel Services, Catering y más!!
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/dashboard/buy/jdcard">
                            <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">Comprar J&amp;D Card</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div flex-item="5">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">Refill J&amp;D Card</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            Refill ya tu J&amp;D Card, y sigue disfrutando de nuestros Servicios!!
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/dashboard/refill/jdcard">
                            <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">Refill J&amp;D Card</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>