<div class="p+" ng-init="updateMenu()">

    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
        <div flex-item="10">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block"> {{'index.card1.title' | translate}}</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            {{'index.card1.text' | translate}}
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/loginpage">
                            <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">{{'index.card1.button' | translate}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div flex-item="5">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">{{'index.card2.title' | translate}}</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            {{'index.card2.text' | translate}}
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/loginpage">
                            <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">{{'index.card2.button' | translate}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
        <div flex-item="5">
            <div class="card" ng-if=" user.authorities[0].authority=='ROLE_ADMIN' || user.authorities[0].authority=='ROLE_SYSADMIN'">
                <div class="p+">
                    <strong class="fs-headline display-block">Validator</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            Validate a J&amp;D Card
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/dashboard/cardstatus">
                            <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">Validate</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">

        <div flex-item="5">
            <div class="card" ng-if=" user.authorities[0].authority=='ROLE_ADMIN' || user.authorities[0].authority=='ROLE_SYSADMIN'">
                <div class="p+">
                    <strong class="fs-headline display-block">Sing UP!</strong>

                    <div class="paragraph fs-body-1 mt+">
                        <p>
                            Create your J&amp;D Account
                        </p>
                    </div>
                </div>

                <div class="card__actions">
                    <div class="p+">
                        <a href="" ng-href="/users/sing-up">
                            <button class="btn btn--m btn--raised bgc-jd tc-white-1" lx-ripple="indigo-500">Sing Up</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--END-->
</div>