
<!-------------------------->
<!-- START - PRODUCT FORM -->
<!-------------------------->
<form name="AddProductForm" novalidate>
    <!--{{user.user_id}}

    {{paymethod}}-->{{fproduct}}
    <div class="p+" >
        <div flex-item="12">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">Nuevo Producto</strong>
                    <div class="paragraph fs-body-1 mt+">
                        <div class="p+ pt0">
                            <div flex-container="row">
                                <div flex-item>
                                    <lx-text-field
                                            lx-label="Codigo del Product"
                                            lx-valid="AddProductForm.productcode.$valid"
                                            lx-error="AddProductForm.productcode.$invalid && AddProductForm.productcode.$touched">
                                        <input type="text" name="productcode" ng-required="true"
                                               ng-model="fproduct.productcode" ng-minlength="3" ng-maxlength="3"/>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.productcode.$error"
                                         ng-if="AddProductForm.productcode.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Introduce el Nombre del Producto</div>
                                        <div ng-message="minlength">Introduce 3 digitos para el producto</div>
                                        <div ng-message="maxlength">Introduce 3 digitos para el producto</div>
                                    </div>
                                </div>
                            </div>
                            <div flex-container="row">
                                <div flex-item>
                                    <lx-select
                                            name="id_grp"
                                            ng-model="id_grp"
                                            lx-allow-clear="true"
                                            lx-choices="groupOpts"
                                            lx-fixed-label="true"
                                            lx-valid="id_grp.$valid"
                                            lx-error="id_grp.$invalid && id_grp.$touched"
                                            ng-required="true"
                                            lx-label="Grupo de Sevicios">
                                        <lx-select-selected>
                                            {{ $selected.description }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            {{ $choice.description }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="id_grp.$error"
                                         ng-if="id_grp.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Escoge el tipo de Metodo</div>
                                    </div>
                                </div>
                            </div>
                            <div flex-container="row">
                                <div flex-item>
                                    <lx-text-field
                                            lx-label="Nombre del Producto"
                                            lx-valid="AddProductForm.description.$valid"
                                            lx-error="AddProductForm.description.$invalid && AddProductForm.description.$touched">
                                        <input type="text" name="description" ng-required="true"
                                               ng-model="fproduct.description" />
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.description.$error"
                                         ng-if="AddProductForm.description.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Introduce el Nombre del Producto</div>
                                    </div>
                                </div>
                            </div>
                            <div flex-container="row">
                                <div flex-item>
                                    <lx-text-field
                                            lx-label="Descripción del Producto"
                                            lx-valid="AddProductForm.detaildesc.$valid"
                                            lx-error="AddProductForm.detaildesc.$invalid && AddProductForm.detaildesc.$touched">
                                    <textarea type="text" name="detaildesc" ng-required="true"
                                          ng-model="fproduct.detaildesc" ></textarea>
                                    </lx-text-field>
                                    <div ng-messages="AddProductForm.detaildesc.$error"
                                         ng-if="AddProductForm.detaildesc.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Introduce la Descripción del Producto</div>
                                    </div>
                                </div>
                            </div>
                            1{{selectAjax}} 2{{selectAjax}}
                            <!--3{{fproduct}}-->
                            <div flex-container="row">
                                <div flex-item>
                                    <lx-select
                                            name="location"
                                            ng-model="fproduct.location"
                                            lx-allow-clear="true"
                                            lx-choices="selectAjax.locationOpts"
                                            lx-display-filter="true"
                                            lx-fixed-label="true"
                                            lx-filter="searchLocation(newValue)"
                                            lx-valid="location.$valid"
                                            lx-error="location.$invalid && location.$touched"
                                            lx-loading="selectAjax.loading"
                                            ng-required="true"
                                            lx-label="Locaciones">
                                        <lx-select-selected>
                                            <img src="../css/img/flags/{{$selected.country}}.png" alt="" style="visibility: visible; float: left;" width="25px" /> {{ $selected.airport }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            <img src="../css/img/flags/{{$choice.country}}.png" alt="" style="visibility: visible; float: left;" width="25px" /> {{ $choice.airport }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="location.$error"
                                         ng-if="location.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Escoge tu Localidad</div>
                                    </div>
                                </div>
                            </div>
                            <div flex-container="row">
                                <div flex-item>
                                    <lx-select
                                            name="currency"
                                            ng-model="fproduct.currency"
                                            lx-allow-clear="true"
                                            lx-choices="proCurrency"
                                            lx-fixed-label="true"
                                            lx-valid="AddProductForm.currency.$valid"
                                            lx-error="AddProductForm.currency.$invalid && AddProductForm.currency.$touched"
                                            ng-required="true"
                                            lx-label="Moneda">
                                        <lx-select-selected>
                                            {{ $selected.key }}
                                        </lx-select-selected>

                                        <lx-select-choices>
                                            {{ $choice.name }}
                                        </lx-select-choices>
                                    </lx-select>
                                    <div ng-messages="AddProductForm.currency.$error"
                                         ng-if="AddProductForm.currency.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Escoge el tipo de Metodo</div>
                                    </div>
                                </div>
                            </div>
                            <div flex-container="row">
                                <div class="p+ pt0">
                                    <lx-date-picker ng-model="fproduct.datecreate"
                                                    lx-input-format="YYYY-MM-DD"
                                                    lx-locale="es"
                                                    lx-valid="AddProductForm.datecreate.$valid"
                                                    lx-error="AddProductForm.datecreate.$invalid && AddProductForm.datecreate.$touched">
                                        <lx-text-field lx-allow-clear="true" lx-label="Fecha de Creación">
                                            <input type="text" name="datecreate"
                                                   ng-model="fproduct.datecreate" ng-required="true">
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductForm.datecreate.$error"
                                         ng-if="AddProductForm.datecreate.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">No Olvides de colocar la Fecha de Expiracion</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div style="position: relative;">
        <lx-progress lx-type="linear" lx-color="teal"
                     ng-if="LinearProgress">
        </lx-progress>
    </div>
    <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
        <lx-button lx-color="red"
                   ng-click="reset()"
        >Limpiar</lx-button>
        <lx-button lx-color="green"
                   ng-click="addProduct($event, fproduct, id_grp.id)"
                   ng-disabled="sendbutton || AddProductForm.$invalid">
            Crear Producto</lx-button>
    </div>
</form>

<!-------------------------->
<!-- START - PRODUCT PRICES FORM -->
<!-------------------------->
<form name="AddProductPriceForm" ng-show="disablePrice" novalidate>
    <!--{{user.user_id}}
    1{{fprice}}
    2{{productId}}
    3{{productId}}
    {{paymethod}}-->
    <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">
        <div flex-item="16">
            <div class="card" >
                <div class="p+">
                    <strong class="fs-headline display-block">Nuevo Producto</strong>
                    <div class="paragraph fs-body-1 mt+">
                        <div class="p+ pt0">
                            <div flex-container="row">
                                <div flex-item="16">
                                    <lx-text-field
                                            lx-label="Descripción del Precio"
                                            lx-valid="AddProductPriceForm.description.$valid"
                                            lx-error="AddProductPriceForm.description.$invalid && AddProductPriceForm.description.$touched">
                                        <input type="text" name="description" ng-required="true"
                                               ng-model="fprice.description" />
                                    </lx-text-field>
                                    <div ng-messages="AddProductPriceForm.description.$error"
                                         ng-if="AddProductPriceForm.description.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Introduce la Descripción del Producto</div>
                                    </div>
                                </div>
                            </div>

                            <div flex-container="row">
                                <div class="p+ pt0" flex-item="4">
                                    <lx-date-picker ng-model="fprice.fromdate"
                                                    lx-input-format="YYYY-MM-DD"
                                                    lx-locale="es"
                                                    lx-valid="AddProductPriceForm.fromdate.$valid"
                                                    lx-error="AddProductPriceForm.fromdate.$invalid && AddProductPriceForm.fromdate.$touched">
                                        <lx-text-field lx-allow-clear="true" lx-label="Fecha de Inicio">
                                            <input type="text" name="fromdate"
                                                   ng-model="fprice.fromdate" ng-required="true">
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductPriceForm.fromdate.$error"
                                         ng-if="AddProductPriceForm.fromdate.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">No Olvides de colocar la Fecha de Inicio</div>
                                    </div>
                                </div>

                                <div class="p+ pt0" flex-item="4">
                                    <lx-date-picker ng-model="fprice.todate"
                                                    lx-input-format="YYYY-MM-DD"
                                                    lx-locale="es"
                                                    lx-valid="AddProductPriceForm.todate.$valid"
                                                    lx-error="AddProductPriceForm.todate.$invalid && AddProductPriceForm.todate.$touched">
                                        <lx-text-field lx-allow-clear="true" lx-label="Fecha de Expiración">
                                            <input type="text" name="todate"
                                                   ng-model="fprice.todate" ng-required="true">
                                        </lx-text-field>
                                    </lx-date-picker>
                                    <div ng-messages="AddProductPriceForm.todate.$error"
                                         ng-if="AddProductPriceForm.todate.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">No Olvides de colocar la Fecha de Expiracion</div>
                                    </div>
                                </div>

                                <div flex-item="4">
                                    <lx-text-field
                                            lx-label="Precio"
                                            lx-valid="AddProductPriceForm.price.$valid"
                                            lx-error="AddProductPriceForm.price.$invalid && AddProductPriceForm.price.$touched">
                                        <input type="text" name="price" ng-required="true" ng-model="fprice.price" ng-minlength="1" ui-number-mask>
                                    </lx-text-field>
                                    <div ng-messages="AddProductPriceForm.price.$error"
                                         ng-if="AddProductPriceForm.price.$touched"
                                         style="color:maroon"
                                         role="alert">
                                        <div ng-message="required">Introduce el Monto</div>
                                        <div ng-message="minlength">Introduce un monto mayor a 0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--1{{productId}}2{{productId}}
    1{{sendbutton2 +" or "+ AddProductPriceForm.$invalid}}-->
    <div style="position: relative;">
        <lx-progress lx-type="linear" lx-color="teal"
                     ng-if="LinearProgress2">
        </lx-progress>
    </div>
    <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
        <lx-button lx-color="red"
                   ng-click="fpriceReset()"
        >Limpiar</lx-button>
        <lx-button lx-color="green"
                   ng-click="addPrice($event, fprice, productId)"
                   ng-disabled="sendbutton2 || AddProductPriceForm.$invalid">
            Registrar Precio</lx-button>
    </div>
</form>
