<div class="row" ng-init="updateMenu()">

    <form name="RefillJdForm" novalidate>
        <!--{{user.user_id}}
        {{frfilljdcard}}-->
        <div class="p+" flex-container="row" flex-column="16" flex-gutter="24">

            <div flex-item="8">
                <div class="card" >
                    <div class="p+">
                        <strong class="fs-headline display-block">Escogue tu metodo de pago</strong>
                        <!--1{{paymethod}}-->
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-select
                                                name="idpaymethod"
                                                ng-model="frfilljdcard.idpaymethod"
                                                lx-allow-clear="true"
                                                lx-choices="paymethod"
                                                lx-fixed-label="true"
                                                lx-valid="RefillJdForm.idpaymethod.$valid"
                                                lx-error="RefillJdForm.idpaymethod.$invalid && RefillJdForm.idpaymethod.$touched"
                                                ng-required="true"
                                                lx-label="Escoja su metodo de pago">
                                            <lx-select-selected>
                                                {{ $selected.payacctnum | tdcmask}}
                                            </lx-select-selected>

                                            <lx-select-choices>
                                                {{ $choice.payacctnum | tdcmask}}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="RefillJdForm.idpaymethod.$error"
                                             ng-if="RefillJdForm.idpaymethod.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Escoge el tipo de Metodo Pago</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="TDC Codigo de Seguridad"
                                                lx-valid="RefillJdForm.pay_ccsec.$valid"
                                                lx-error="RefillJdForm.pay_ccsec.$invalid && RefillJdForm.pay_ccsec.$touched">
                                            <input type="text" name="pay_ccsec" ng-required="true"
                                                   ng-model="frfilljdcard.pay_ccsec"
                                                   ng-minlength="3" ng-maxlength="4"
                                                   payments-validate="cvc" payments-type-model="type" />
                                        </lx-text-field>
                                        <div ng-messages="RefillJdForm.pay_ccsec.$error"
                                             ng-if="RefillJdForm.pay_ccsec.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Introduce el numero de tu TDC</div>
                                            <div ng-message="minlength">Introduce los 3 digitos del verso de tu tarjeta</div>
                                            <div ng-message="maxlength">Introduce los 4 digitos del verso de tu tarjeta</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div flex-item="8">
                <div class="card" >
                    <div class="card__img card__img--top">
                        <img th:src="@{/css/img/Fuelcard.jpg}"
                             src="/css/img/Fuelcard.jpg"
                             ng-src="/css/img/Fuelcard.jpg" />
                        <span class="fs-headline tc-white-1 display-block">Lorem Ipsum</span>
                    </div>
                    <div class="p+">
                        <strong class="fs-headline display-block">Personaliza tu J&amp;D Card</strong>
                        <!--1{{jdcardOpts}}-->
                        <div class="paragraph fs-body-1 mt+">
                            <div class="p+ pt0">
                                <div flex-container="row">
                                    <div flex-item>

                                        <lx-select
                                                name="jdcardSelected"
                                                ng-model="frfilljdcard.jdcardSelected"
                                                lx-allow-clear="true"
                                                lx-choices="jdcardOpts"
                                                lx-fixed-label="true"
                                                lx-valid="jdcardSelected.$valid"
                                                lx-error="jdcardSelected.$invalid && jdcardSelected.$touched"
                                                ng-required="true"
                                                lx-label="Escoja su metodo de pago">
                                            <lx-select-selected>
                                                {{ $selected.payacctnum | tdcmask}}
                                            </lx-select-selected>

                                            <lx-select-choices>
                                                {{ $choice.payacctnum | tdcmask}}
                                            </lx-select-choices>
                                        </lx-select>
                                        <div ng-messages="jdcardSelected.$error"
                                             ng-if="jdcardSelected.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Escoge el tipo de Metodo Pago</div>
                                        </div>
                                    </div>
                                </div>
                                <div flex-container="row">
                                    <div flex-item>
                                        <lx-text-field
                                                lx-label="Monto"
                                                lx-valid="RefillJdForm.amount.$valid"
                                                lx-error="RefillJdForm.amount.$invalid && RefillJdForm.amount.$touched">
                                            <input type="text" name="amount"
                                                   ng-required="true"
                                                   ng-model="frfilljdcard.amount"
                                                   ng-minlength="1" ui-number-mask>
                                        </lx-text-field>
                                        <div ng-messages="RefillJdForm.amount.$error"
                                             ng-if="RefillJdForm.amount.$touched"
                                             style="color:maroon"
                                             role="alert">
                                            <div ng-message="required">Introduce el Monto</div>
                                            <div ng-message="minlength">Introduce un monto mayor a 0</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative;">
            <lx-progress lx-type="linear" lx-color="teal"
                         ng-if="LinearProgress">
            </lx-progress>
        </div>
        <div class="tc-white-1 p+" flex-container="column" flex-align="space-between center">
            <lx-button lx-color="red"
                       ng-click="reset()"
            >Limpiar</lx-button>
            <lx-button lx-color="green"
                       ng-click="refilljdCard($event, frfilljdcard)"
                       ng-disabled="sendbutton || RefillJdForm.$invalid">
                Refill J&amp;D CARD</lx-button>
        </div>
    </form>

</div>